<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <!-- CSS -->
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css">

        <!-- Scripts -->
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <h1>Hello, world!</h1>
    </body>
</html>
