<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <!-- Meta tags -->
        <meta name="description" content="Super simple API for downloading test files of any size and any type!">

        <!-- CSS -->
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css">

        <!-- Scripts -->
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <header><div class="wrapper-full">

            <div class="content">
                <div class="logo"></div>
                <h1>filestuff</h1>
                <div class="version">BETA</div>
                <h2>Super simple API for downloading test files of <a href="#">any size</a> and <a href="#">any type</a>!</h2>
            </div>

            <div class="window">
                <div class="toolbar">
                    <div class="address">https://filestuff.xyz/150MB/oranges.png</div>
                </div>
            </div>

        </div></header>

        <section class="stats"><div class="wrapper-full">
            <div class="stat">
                <h1>15MB/s</h1>
                <h2>Average Speed</h2>
            </div>
            <div class="stat">
                <h1>5,123</h1>
                <h2>Downloads</h2>
            </div>
            <div class="stat">
                <h1>41TB</h1>
                <h2>Lifetime Data</h2>
            </div>
        </div></section>

        <section class="content"><div class="wrapper-full">

            <h1><i class="fa fa-hand-peace-o"></i>Hello, world!</h1>
            <p>First of all, welcome to the platform! We firmly believe in good usage and fair usage policies, and one of our main focueses during the platform creation phase was to make sure that as many people could use this stuff first. Because we are in beta, some things may not work awesomely but with your help we can hopefully get rid of as many of those pesky bugs as we can!</p>

        </div></section>

    </body>
</html>
