<!DOCTYPE html>
<html>
    <head>
        <title>filestuff</title>

        <!-- Meta tags -->
        <meta name="description" content="Super simple API for downloading test files of any size and any type!">

        <!-- CSS -->
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css">

        <!-- Scripts -->
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <header><div class="wrapper-full">

            <div class="content">
                <div class="logo"></div>
                <h1>filestuff</h1>
                <div class="version">BETA</div>
                <h2>Super simple API for downloading test files of <a href="#terms">any size</a> and <a href="#how">any type</a>!</h2>
            </div>

            <div class="window">
                <div class="toolbar">
                    <a href="/35MB/test-file.mp4"><div class="address">https://filestuff.xyz/35MB/test-file.mp4</div></a>
                </div>
            </div>

        </div></header>

        <section class="stats"><div class="wrapper-full">
            <div class="stat">
                <h1><%= stats.speed %></h1>
                <h2>Average Speed</h2>
            </div>
            <div class="stat">
                <h1><%= stats.downloads %></h1>
                <h2>Downloads</h2>
            </div>
            <div class="stat">
                <h1><%= stats.transfer %></h1>
                <h2>Lifetime Data</h2>
            </div>
        </div></section>

        <section class="content"><div class="wrapper-full">

            <h1 id="what"><i class="fa fa-map-o"></i>What is this?</h1>
            <p>After getting bored with the lack of easy to use test file download websites, I decided to create my own! I firmly believe in a dead simple interface that does one thing and does it well. Thus, filestuff was born. It's still in beta so there may be some bugs and glitches, but for the most part it should be pretty stable!</p>

            <h1 id="how"><i class="fa fa-hand-paper-o"></i>How do I use it?</h1>
            <p>Currently, the only way to use this application is to make a <code>get</code> request to <code>https://filestuff.xyz</code> followed to two url parameters. The anatomy of a general request is <code>https://filestuff.xyz/{filesize}/{filename}</code>. The <code>filesize</code> parameter can be any size value that can be interpreted and converted to a number of bytes (such as <code>15MB</code>, <code>4.5GB</code> &amp; <code>550kb</code>). The <code>filename</code> parameter can be anything that you want, as the response header is set to <code>Content-Type: application/octet-stream</code> the browser will always download it regardless of extension.</p>
            <p>It's important to note that the units are converted in powers of 2 instead of 10: <code>1kb = 1024b</code>. At present, the API sends the data as a byte stream composed entirely of <code>0</code>'s. In future, this is likely to be configurable to contain random data or even generate random psuedo-data depending on the file extension provided in the URL. We'll have to see how we go :)</p>

            <h1 id="terms"><i class="fa fa-file-text-o"></i>Terms of use</h1>
            <h2>Last updated 31st May 2016</h2>
            <p>Let's just get the boring terms of use out of the way.</p>
            <p>By using the filestuff API you agree to the terms of use as outlined here. There are no limitations on how much you can download at all. However, if you could please try not to download more than you require then that would be wonderful; other people use this service too and if you could be kind to them I would appreciate it immensely!</p>
            <p>Also, please for the love of god don't use this for anything illegal or inappropriate. I have no idea how you would even do that but you know what they say: <i>where there's a will there's a way</i>.</p>
            <p>Finally, this service is provided to you as-is. It is, and will remain, an entirely free service. I will never show you adverts or put anything on here other than what you would find useful. (I don't currently accept donations yet but I will let you know when I do!) I reserve the right to modify or change anything about the content of the website (provided it doesn't interfere with the previous thingies that I said I wouldn't do). Having said that, I will do my absolute best not to introduce breaking changes to the API and if I have to then I will endeavour to give you notice as in advance as I possibly can.</p>
            <p>In terms of the data that I track and store? It's literally only the data that you can see presented at the top of the page in the statistics section. These are aggregated on-the-fly and as such no specific data is stored on the server. No IP addresses, no filenames, no browser information at all (not even any cookies). You can browse easy and know you're not even being partially tracked!</p>
        </div></section>

        <footer><div class="wrapper-full">
            <p>Hopefully you found this utility useful! I'm not currently accepting donations. However, I may have to in future because this app requires a lot of bandwidth (obviously) and that ends up being quite expensive!</p>
            <a href="http://samholmes.net"><h3>Made with <i class="fa fa-coffee"></i> by Sam Holmes</h3></a>
            <img src="/img/digital-ocean.png">
        </div></footer>

    </body>
</html>
