<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <!-- Meta tags -->
        <meta name="description" content="Super simple API for downloading test files of any size and any type!">

        <!-- CSS -->
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css">

        <!-- Scripts -->
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <header><div class="wrapper-full">

            <div class="content">
                <div class="logo"></div>
                <h1>filestuff</h1>
                <div class="version">BETA</div>
                <h2>Super simple API for downloading test files of <a href="#how">any size</a> and <a href="#how">any type</a>!</h2>
            </div>

            <div class="window">
                <div class="toolbar">
                    <div class="address">https://filestuff.xyz/150MB/oranges.png</div>
                </div>
            </div>

        </div></header>

        <section class="stats"><div class="wrapper-full">
            <div class="stat">
                <h1>15MB/s</h1>
                <h2>Average Speed</h2>
            </div>
            <div class="stat">
                <h1>5,123</h1>
                <h2>Downloads</h2>
            </div>
            <div class="stat">
                <h1>41TB</h1>
                <h2>Lifetime Data</h2>
            </div>
        </div></section>

        <section class="content"><div class="wrapper-full">

            <h1 id="what"><i class="fa fa-map-o"></i>What is this?</h1>
            <p>After getting bored with the lack of easy to use test file download websites, I decided to create my own! I firmly believe in a dead simple interface that does one thing and does it well. Thus, filestuff was born. It's still in beta so there may be some bugs and glitches, but for the most part it should be pretty stable!</p>

            <h1 id="how"><i class="fa fa-hand-paper-o"></i>How do I use it?</h1>
            <p>Currently, the only way to use this application is to make a <code>get</code> request to <code>https://filestuff.xyz</code> followed to two url parameters. The anatomy of a general request is <code>https://filestuff.xyz/{filesize}/{filename}</code>. The <code>filesize</code> parameter can be any size value that can be interpreted and converted to a number of bytes (such as <code>15MB</code>, <code>4.5GB</code> &amp; <code>550kb</code>). The <code>filename</code> parameter can be anything that you want, as the response header is set to <code>Content-Type: application/octet-stream</code> the browser will always download it regardless of extension.</p>
            <p>At present, the API sends the data as a byte stream composed entirely of <code>0</code>'s. In future, this is likely to be configurable to contain random data or even generate random psuedo-data depending on the file extension provided in the URL. We'll have to see how we go :)</p>

            <h1 id="terms"><i class="fa fa-file-text-o"></i>Terms of use</h1>
        </div></section>

        <footer><div class="wrapper-full">
            <p>Hopefully you found this utility useful! I'm not currently accepting donations. However, I may have to in future because this app requires a lot of bandwidth (obviously) and that ends up being quite expensive!</p>
            <a href="http://samholmes.net"><h3>Made with &lt;3 by Sam Holmes</h3></a>
            <img src="/img/digital-ocean.png">
        </div></footer>

    </body>
</html>
